accelerate==1.13.0
bezier==2024.6.20
diffusers==0.35.1
lightning==2.6.1
lpips==0.1.4
numpy==2.4.6
opencv_python==4.13.0.92
pandas==3.0.3
peft==0.17.1
Pillow==12.2.0
prodigyopt==1.1.2
PyYAML==6.0.3
seaborn==0.13.2
torch==2.12.0
torchvision==0.27.0
tqdm==4.67.3
transformers==4.56.1
wandb==0.27.0
